.page {
    margin-top: 5rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.list {
    width: 300px;
    border-radius: 5px;
    padding: 10px;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    display: inline-block;
}

.card_board {
    width: 300px;
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
    margin-left: 0.6rem;
    margin-right: 0.6rem;
    display: inline-block;
}

.modal_component {
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
}

.card {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}

.entry {
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
}

.timeline {
    width: 400px;
    border-radius: 5px;
    padding: 10px;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    display: inline-block;
}

.timeline_card {
    border-radius: 5px;
    padding: 10px;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}

.date_picker_range {
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
}

.date_picker_single {
    margin-left: 0.2rem;
    margin-right: 0.2rem;
}

.button_add_board {
    border-radius: 5px;
    padding: 10px;
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
    margin-left: 0.6rem;
    margin-right: 0.6rem;
}

.button_add_list {
    width: 170px;
    border-radius: 5px;
    padding: 10px;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}

.button_add_card {
    width: 270px;
    border-radius: 5px;
    padding: 10px;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}

.button_add_entry {
    width: 450px;
    border-radius: 5px;
    padding: 10px;
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}

.button_in_card {
    width: 30px;
    height: 30px;
}

.check_in_card {
    width: 40px;
    height: 40px;
    margin-top: 0.3rem;
}

.time_input_in_card {
    width: 130px;
}

.time_input_in_entry {
    width: 120px;
}
